*.txt
*.config

# Directory
bin
obj
Sigesoft/server/webclientadmin/ui/.vs/Sigesoft.Server.WebClientAdmin.UI/v14/.suo
Sigesoft/server/webclientadmin/ui/UpgradeLog.htm
Sigesoft/node/winclient/ui/Sigesoft.Node.WinClient.UI.csproj.user
Sigesoft/Sigesoft.v11.suo