<?xml version="1.0" encoding="utf-8" ?>
<configuration>



  <connectionStrings>
    <add name="SigesoftConnectionString" connectionString="metadata=res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodepostgreSQL.csdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodepostgreSQL.ssdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodepostgreSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-GBIPEVA\MSSQL12;Initial Catalog=SLSanLorenzo;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=123456&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <clear/>
    <add key="NodeId" value="9" />
    <add key="TV" value="1" />
    <add key="TimerIntervale" value="2000" />
    <add key="TiempoRetraso" value="1"/>
    <add key="PathVideo" value="Video"/>
    <add key="PathSound" value="E:\RepSLSigesoft2\DEV\SRC\Node\WinQueueVisor\Sigesoft.Node.WinQueueVisor.UI\Sound\BELLBOX.mp3"/>
    <add key="Repetitions" value="1"/>
    <!--<add key="CallFormat" value="Atención,{3},{0},{3},{0} por favor acérquese a la oficina {1} para su examen, de {2}. Oficina {1} para su examen, de {2}, gracias."/>-->
    <add key="CallFormat" value="Atención, Paciente {0}. Paciente {0}, al consultorio {1}, para su examen, gracias."/>
  </appSettings>
</configuration>
