<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <!--<add name="SigesoftConnectionString" connectionString="metadata=res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodepostgreSQL.csdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodepostgreSQL.ssdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodepostgreSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=SigesoftDesarrollo_2;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=123456&quot;"
      providerName="System.Data.EntityClient" />-->
    <add name="SigesoftConnectionString" connectionString="metadata=res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodepostgreSQL.csdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodepostgreSQL.ssdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodepostgreSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-GBIPEVA\MSSQL12;Initial Catalog=SLSanLorenzo;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=123456&quot;"
  providerName="System.Data.EntityClient" />

    <add name="ContasolConnectionString" connectionString="Initial Catalog=20505310072; Data Source=DESKTOP-GBIPEVA\MSSQL12;user id=sa;password=123456;Connect Timeout=2000"
     providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="TimerIntervale" value="400000" />
    <add key="NodeId" value="9" />
    <add key="AlmacenId" value="1" />
    <add key="EsMayuscula" value="0" />
    <!--0 = NO y 1 = SI-->
    <add key="ClientSettingsProviderx" value="kjdbhc87ty378yed3bhwyedgh78qwehduiq7834" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="rutaCotizacion" value="C:\Users\DEV1\Documents\Cotizacion\" />
    <add key="rutaReportes" value="F:\Reportes Medicos\" />
    <add key="rutaConsolidado" value="F:\Reportes Medicos\" />
    <add key="ImgRxOrigen" value="F:\Reportes Medicos\" />
    <add key="ImgRxDestino" value="F:\Reportes Medicos\" />
    <add key="ImgEKGOrigen" value="F:\Reportes Medicos\" />
    <add key="ImgEKGDestino" value="F:\Reportes Medicos\" />
    <add key="ImgESPIROOrigen" value="F:\Reportes Medicos\" />
    <add key="ImgESPIDestino" value="F:\Reportes Medicos\" />
    <add key="ImgPSICOOrigen" value="F:\Reportes Medicos\" />
    <add key="ImgPSICODestino" value="F:\Reportes Medicos\" />
    <add key="ImgLABOrigen" value="F:\Reportes Medicos\" />
    <add key="ImgLABDestino" value="F:\Reportes Medicos\" />
    <add key="rutaReportesBasura" value="F:\Reportes Medicos\" />
    <add key="Certificado312" value="F:\Reportes Medicos\" />
    <add key="CertificadoEmp" value="F:\Reportes Medicos\" />
    <add key="CertificadoObs" value="F:\Reportes Medicos\" />
    <add key="CertificadoRetiro" value="F:\Reportes Medicos\" />
    <add key="CertificadoSinDX" value="F:\Reportes Medicos\" />
    <add key="Interconsulta" value="F:\Reportes Medicos\" />
    <add key="Asistencia" value="F:\Reportes Medicos\" />
    <add key="InformeTrab1" value="F:\Reportes Medicos\" />
    <add key="InformeTrab2" value="F:\Reportes Medicos\" />
    <add key="InformeTrab3" value="F:\Reportes Medicos\" />
    <add key="DeclaracionJurada" value="F:\Reportes Medicos\" />
    <add key="color1" value="0" />
    <add key="color2" value="98" />
    <add key="color3" value="145" />
    <add key="linea1" value="Avenida San Martín de Porres, 546 • Barrio San Martin Cajamarca • Cajamarca" />
    <add key="linea2" value="          TelF: (076) 340201 www.clinlcasanlorenzo.com.pe" />


  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>

</configuration>
