<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI"/>
  </configSections>

  <connectionStrings>


    <!--<add name="SigesoftConnectionString" connectionString="metadata=res://Sigesoft.Server.WebClientAdmin.DAL.MSSQL/DMSQLServer.csdl|res://Sigesoft.Server.WebClientAdmin.DAL.MSSQL/DMSQLServer.ssdl|res://Sigesoft.Server.WebClientAdmin.DAL.MSSQL/DMSQLServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.103;Initial Catalog=SanLorenzo;Integrated Security=False;Persist Security Info=True;User ID=Sigesoft;Password=jgD5WB93lx&quot;" providerName="System.Data.EntityClient"/>-->
        <add name="SigesoftConnectionString" connectionString="metadata=res://Sigesoft.Server.WebClientAdmin.DAL.MSSQL/DMSQLServer.csdl|res://Sigesoft.Server.WebClientAdmin.DAL.MSSQL/DMSQLServer.ssdl|res://Sigesoft.Server.WebClientAdmin.DAL.MSSQL/DMSQLServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.103;Initial Catalog=SanLorenzo;Integrated Security=False;Persist Security Info=True;User ID=Sigesoft;Password=jgD5WB93lx&quot;" providerName="System.Data.EntityClient"/>
   <!-- <add name="SigesoftConnectionString" connectionString="metadata=res://Sigesoft.Server.WebClientAdmin.DAL.MSSQL/DMSQLServer.csdl|res://Sigesoft.Server.WebClientAdmin.DAL.MSSQL/DMSQLServer.ssdl|res://Sigesoft.Server.WebClientAdmin.DAL.MSSQL/DMSQLServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=SigesoftDesarrollo_2;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=123456&quot;" providerName="System.Data.EntityClient"/>--> 

  </connectionStrings>
  <appSettings>
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/tempImages/;"/>
    <add key="rutaReportes" value="D:\Reportes Medicos\"/>
    <add key="ImgRxOrigen" value="D:\Reportes Medicos\"/>
    <add key="ImgRxDestino" value="D:\Reportes Medicos\"/>
    <add key="ImgRxInforme" value="D:\Reportes Medicos\"/>
    <add key="ImgOITOrigen" value="D:\Reportes Medicos\"/>
    <add key="ImgOITDestino" value="D:\Reportes Medicos\"/>
    <add key="ImgEKGOrigen" value="D:\Reportes Medicos\"/>
    <add key="ImgEKGDestino" value="D:\Reportes Medicos\"/>
    <add key="ImgESPIROOrigen" value="D:\Reportes Medicos\"/>
    <add key="ImgESPIDestino" value="D:\Reportes Medicos\"/>
    <add key="ImgLABOrigen" value="D:\Reportes Medicos\"/>
    <add key="ImgLABDestino" value="D:\Reportes Medicos\"/>
    <add key="Ruta312" value="D:\Reportes Medicos\"/>
    <add key="ImgUSUEXTE" value="D:\Reportes Medicos\"/>
    <add key="Plantilla" value="D:\Reportes Medicos\"/>
    <add key="NodoWin" value="9"/>
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/tempImages/;"/>
    <add key="rutaReportesBasura" value="D:\Reportes Medicos\"/>
    <add key="Certificado312" value="D:\Reportes Medicos\"/>
    <add key="CertificadoEmp" value="D:\Reportes Medicos\"/>
    <add key="CertificadoObs" value="D:\Reportes Medicos\"/>
    <add key="CertificadoRetiro" value="D:\Reportes Medicos\"/>
    <add key="CertificadoSinDX" value="D:\Reportes Medicos\"/>
    <add key="Interconsulta" value="D:\Reportes Medicos\"/>
    <add key="Asistencia" value="D:\Reportes Medicos\"/>
    <add key="InformeTrab1" value="D:\Reportes Medicos\"/>
    <add key="InformeTrab2" value="D:\Reportes Medicos\"/>
    <add key="InformeTrab3" value="D:\Reportes Medicos\"/>
    <add key="imgFooter2" value="C:\Program Files (x86)\NetMedical\Banner\banner2.jpg"/>

    <add key="color1" value="0"/>
    <add key="color2" value="98"/>
    <add key="color3" value="145"/>
    <add key="linea1" value=" "/>
    <add key="linea2" value=" "/>
  </appSettings>

  <FineUI EnableBigFont="true" DebugMode="false" Language="en" IconBasePath="~/images/icons" Theme="blue"/>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <httpRuntime maxRequestLength="20000"/>
    <sessionState mode="InProc" timeout="20"/>
    <compilation debug="true" targetFramework="4.0">
      <!--<assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>-->
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>

    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="Ext"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>

    <!--<customErrors mode="RemoteOnly" defaultRedirect="frmCustomErrorPage.aspx"/>-->
    <customErrors mode="Off"/>

    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="frmLogin.aspx" protection="All" timeout="900" defaultUrl="frmMaster_.aspx">
      </forms>
    </authentication>

    <authorization>
      <deny users="?"/>
    </authorization>


  </system.web>

  <location path="frmLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="res.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <modules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
      <!--<add name="AuthenticationModule" type="Sigesoft.WebClient.Main.Utils.AuthenticationModule, Sigesoft.WebClient.Main"/>-->
    </modules>
    <handlers>
      <add name="FineUIResourceHandler" verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>

    </handlers>

    <!--<directoryBrowse enabled="true"/>-->
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>